---
import type { GetStaticPathsOptions } from 'astro'
import { getCollection } from 'astro:content'
import Layout from '../../../layouts/Layout.astro'
import { Icon } from 'astro-icon/components'
import BlogCard from '../../../components/BlogCard.astro'

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
  const blogPosts = await getCollection('blog')

  const sortedPosts = blogPosts.sort((a, b) => {
    const aDate = new Date(a.data.date)
    const bDate = new Date(b.data.date)
    return bDate.getTime() - aDate.getTime()
  })

  return paginate(sortedPosts, { pageSize: 10 })
}
const { page } = Astro.props
---

<Layout title="Welcome to Astro." description="index">
  <h2 class="my-6 text-xl font-bold md:my-8">記事一覧</h2>

  <ul>
    {
      page.data.map((post) => (
        <BlogCard
          title={post.data.title}
          category={post.data.category}
          date={post.data.date}
          slug={post.slug}
        />
      ))
    }
  </ul>

  <nav class="my-4 flex items-center justify-center">
    <div class="p-4">
      {
        page.url.prev ? (
          <a href={page.url.prev}>
            <Icon name="mdi:navigate-before" class="text-2xl" />
          </a>
        ) : (
          <div class="h-6 w-6" />
        )
      }
    </div>
    <div class="p-4 text-lg">
      {page.currentPage} / {page.lastPage}
    </div>
    <div class="p-4">
      {
        page.url.next ? (
          <a href={page.url.next}>
            <Icon name="mdi:navigate-next" class="text-2xl" />
          </a>
        ) : (
          <div class="h-6 w-6" />
        )
      }
    </div>
  </nav>
</Layout>
